<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="corectorRepo" class="app.repos.AngajatOficiuRepo"/>
    <bean id="lucrareRepo" class="app.repos.BiletRepo"/>

    <bean id="appService" class="app.server.ServicesImpl">
        <constructor-arg ref="corectorRepo"/>
        <constructor-arg ref="lucrareRepo"/>
    </bean>

    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">

        <property name="serviceName" value="Service"/>
        <property name="service" ref="appService"/>
        <property name="serviceInterface" value="services.AppServices"/>
        <property name="servicePort" value="1099"/>
    </bean>

</beans>